*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    max-width: 100vw;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: #000;
}
ul{
    list-style: none;
}
i, button{
    cursor: pointer;
}
.container-fluid{
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-image: url("../images/slide_01.jpg");
    background-size: cover;
    transition: background-image 0.6s ease-in;
}
header{
    width: 100%;
    height: 150px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 15px;
    background-color: transparent;
    transition: all 0.3s ease-in;
    z-index: 100;
}
header.active{
    height: 75px;
    background-color: #0a0a0a;
}
nav{
    width: 100%;
    height: 100%;  
    display: flex;
    align-items: center;
}
.menu{
    display: none;
    cursor: pointer;
}
.open a span{
    border: 1px solid #C4C4C4;
    margin: 3px;
}
.open a:hover span{
    border: 1px solid #fff;
}

.nav-brand{
    width: 185px;
}
.nav-list{
    display: flex;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
 .nav-list .nav-item{
    padding: 0 1rem;
}
 .nav-list .nav-item a{
    font-size: 11px;
    letter-spacing: 2px;
    color: #fff;
    font-weight: 700;
    transition: all 0.3s ease;
}
 .nav-list .nav-item a:hover{
    color: #ce9e3c;
}
.reserve{
    position: relative;
    display: flex;
    align-items: center;
    position: relative;
}
.reserve .shop{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 50px;
    background-color: #15171a;
    margin-right: 10px; 
    width: 190px;
    font-size: 8px;
    line-height: 30px;
    transition: background-color .2s ease-out;
    color: #999;
    text-transform: uppercase;
}
.shop > div{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.shop .cart{
    border-right: 0.1px solid #212326;
}
.shop .cart i{
    color: #5c5d5f;
    font-size: 22px;
    position: relative;  
}
.shop .items, .shop .total, .shop .caret{ 
 
    flex-direction: column;
}
.shop .items span{
    font-size: 11px;
    margin-top: -7px;
    color: #fff;
}
.shop .total span{
    margin-top: -7px;
    font-size: 11px;
    color: #CC9933;
}
.shop .fa-caret-down{
    position: relative;
    margin: 10px;
    font-size: 15px;
    float: right;
}
.reservation{
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 14px 25px;
    font-weight: 700;
    background: #cd9933;
    color: #0a0a0a;
    border: none;
    width: 175px;
    height: 50px;
}  
.logo-img{
    height: 55%;
    width: 40%;
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../images/logo.png") center no-repeat;
    background-size: contain;
}
.para{
    position: absolute;
    top: 37%;
    right: 4%; 
    width: 27%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.para hr{
    width: 39px;
    height: 1px;
    background-color: #fff;
    border: none;
}
.para p{
    font-size: 1vw;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.logo-img img{
    max-width: 100%;
    height: 100%;
}
.lines{
    height: 100px;
    width: 45px;
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
}
.lines .line-select{
    width: 40%;
    border: none;
    height: 1px;
    background-color: #fff;
    margin: 0 0 20px 0;
    cursor: pointer;
    
}
.lines .active{
    width: 100%;
    background-color: #CC9933;
    transition: width 0.3s ease-in-out;
}
.arrows{
    position: absolute;
    right: 5%;
    display: flex;
    margin-top: -3rem;
}

.arrow{
    width: 40px;
    height: 40px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.arrows i{
    color: #fff;
    font-size: 20px;
}
.home{
    width: 100%;
    height: 790px;
    position: relative;
    padding: 120px 0;   
}
.main-sec{
    width: 100%;
    height: 100%;

    color: #333;
}
.chef-img{
    width: 50%;
    height: 100%;
    padding: 0 15px;
    position: relative;
    float: left;
}

.chef-img .men{
    position: absolute;
    top: 50px;
    left: 60px;
    z-index: 2;
}
.chef-img .women{
    height: 70%;
    width: 70%;
    position: absolute;
    top: 0;
    right: 0;
    background: url("../images/homechef1.jpg") center no-repeat;
    background-size: contain;
}
.home-content{
    padding: 0 0 0 100px;
    float: right;
    /* background-color: aliceblue; */
    width: 50%;
    height: 100%;
}
.cursive{
    font-family: 'Great Vibes', cursive;
    font-size: 56px;
    line-height: 66px;
    color: #999966;
    margin: 11px 0 -25px 0;
}
.h2{
    font-size: 36px;
    font-weight: 600;
    line-height: 46px;
    margin: 22px 0 25px 0;
    text-transform: uppercase;
}
.home-content .para1{
    font-size: 18px;
    margin: 0 0 25px 0;
    line-height: 30px;
}
.home-content .para2{
    font-size: 14px;
    margin: 0 0 11px 0;
    line-height: 30px;
}
.btn{
    font-size: 14px;
    font-weight: 600;
    margin: 25px 0 0 0;
    padding: 14px 25px;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    border-left: 4px solid #333;
    transition: all 0.1s linear;
}
.btn:hover{
    border-left: 4px solid #CC9933;
    color: #CC9933
}
.menu1{
    background-color: #16191E;
    color: #fff;
    width: 100%;
    min-height: 720px;
    display: flex;
}
.left-wrapper{
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
    top: 0;
    left: 0;
    padding: 8% 3% 0 8%;
}
.inner-div{
    min-height: 1px;
    padding: 0 15px;
}
.menu-para{
    display: flex;
}
.menu-para p{
    width: 50%;
    padding: 0 15px 0 0;
    color: #999;
    line-height: 30px;
    font-size: 14px;
}
.inner-div .btn-1{
    color: #fff;
    border-left: 4px solid #fff;
}
.btn-1:hover{
    color: #CC9933;
    border-left: 4px solid #CC9933;
}
.right-wrapper{
    width: 50%;
    float: right;  
}
.right-wrapper img{
    width: 100%;
    object-fit: cover;
}
.specialities{
    width: 100%;
    min-height: 550px;
    display: flex;
    padding: 120px 0 120px 0;
}
.left-wrapper1{
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
    top: 0;
    left: 0;
}

.bg-img{
    width:536px;
    height: 377px;
    background: url("../images/special1.jpg") center no-repeat;
    background-size: contain;
    position: absolute;
}
.special-img{
    width: 100%;
    height: 50%;
    position: relative;
    margin: 14rem 0 0 0;
    text-align: center;
}
.special-img img{
    z-index: 2;
}
.right-wrapper1{
    width: 50%;
    height: 100%;
    float: right; 
    position: relative;
    padding:  0 0 0 100px;
}
.landing-img{
    width: 100%;
    height: 650px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.parallex{
    width: 100%;
    height: 100vh;
    background: linear-gradient( rgba(0,0,0,0.2), rgba(0,0,0,0.2))
    , url('../images/parallex-img.jpg') no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
}
.inner-content{
    padding: 100px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 650px;
}
.inner-content h5{
    margin: 10px 0 -25px 0;
}
.inner-content h2{
    color: #fff;
    margin: 22px 0 10px 0;
}
.inner-content p{
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 28px;
    color: #fff;
    margin: 0 0 20px 0; 
    padding: 0 10px;
}
.inner-content .dollar{
    font-size: 24px;
}
 .btn1{
    border-left: none;
    color: #fff;
    border-bottom: 4px solid #fff;
}
.btn1:hover{
    border-left: none;
    color: #CC9933;
    border-bottom: 4px solid #CC9933;
}
.main-row-div{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    background-color: #EFEFEF;
}
.left-card{
    margin-top: -50px;
    background-color: #fff;
    width: 25%;
    position: relative;
    height: 665px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 65px 0 160px 0;
    text-transform: uppercase;
    text-align: center;  
    float: left;
}
.left-card h4{
    font-size: 14px;
    letter-spacing: 4px;
    color: #666;
}
.left-card h2{
    color: #333;
}
.ref{
    height: 284px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: #0a0a0a;
}
.ref a{
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 4px;
    line-height: 22px;
    padding: 5px;
}
.ref a:hover, .ref .active{
    color: #999966;
}
.container{
    width: 75%;
    height: 100%;
    position: relative;
}
.img{
    display: flex;
    flex-wrap: wrap;
}
.img li{
    overflow: hidden;
    width: 290px;
    height: 290px;
    transition: all 0.1s linear;
    margin: 2px;
    cursor: pointer;
}
.img li img{
    position: absolute;
    width: 290px;
    height: 290px;
}
.img li .over-content{
    opacity: 0;
    width: 294px;
    height: 294px;
    position: absolute;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    border: 4px solid transparent;
    transition: all 0.2s linear; 
}
.img li:hover .over-content{
    opacity: 1;
    border: 4px solid #CC9933;
}

.over-content .contents{
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.2s linear;
}
.contents .btn2{
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: transparent;
    line-height: 18px;
    color: rgba(255,255,255,0.7);
    border: 2px solid #fff;
    padding: 10px 14px;
    margin: -20px 0;
    transition: all 0.2s linear;
    transition-delay: 0.1s;
}
.img li:hover .contents .btn2,
.img li:hover .contents h2,
.img li:hover .contents span{
    margin: 10px 0;

}
.contents .btn2:hover{
    color: #fff;
}
.contents h2{
    font-size: 18px;
    line-height: 23.4px;
    color: #fff;
    margin: -20px 0;    
    transition: all 0.2s linear;
}
.contents span{
    font-size: 18px;
    font-weight: 700;
    margin: -20px 0;
    color: #CC9933;
    transition: all 0.2s linear;
}
.grid-slide{
    width: 100%;
    height: 60px;
    text-align: center;
    padding: 10px 0;
    margin: 50px 0 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-slide i{
    padding: 0 1rem;
   
}
.grid-slide span{
    height: 40px;
    width: 40px;
    margin: 0 10px 0 0;
    padding: 5px 0 0 0;
    cursor: pointer;
}
.grid-slide span.curr{
    border-radius: 3px;
    border: 2px solid #C4C4C4;
}
i.show-arr{
    display: none;
}
.clients{
    padding: 100px 0 120px 0;
    background-color: #EFEFEF;
    width: 100%;
    text-align: center;
}
 .heading h2{
    color: #333;
}
.text-slide{
    width: 100%;
    min-height: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-slide .testimonials{
    width: 70%;
    font-size: 24px;
    padding: 0 15px;
}
.testimonials p{
    font-family: 'Playfair Display', serif;

    line-height: 34px;
    margin: 0 0 24px 0;
    color: #333;
}
.testimonials h4{
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 11px 0;
}
.about{
    width: 100%;
    min-height: 746px;
    display: flex;
}
.left-div{
    width: 50%;
    height: 746px;
    position: relative;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
        url("../images/reserve.jpg")center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    float: left;
}
.left-div h2{
    margin: 22px 0 10px 0;
}
.left-div h4{
    font-size: 12px;
    letter-spacing: 4px;
    line-height: 40px;
    width: 50%;
    margin: 11px 0 30px 0;
}
.left-div button{
    color: #fff;
}
.map{
    width: 50%;
    min-height: 746px;
    float: right;
}
.subscription{
    width: 100%;
    height: 480px;
    position: relative;
    background-color: #16191E;
    text-align: center !important;
    padding: 120px 0;
}
.subscription h5{
    margin: 11px 0 -25px 0;
}
.subscription img{
    position: absolute;
    margin-left: -200px;
}
.subscription h2{
    color: #fff;
    margin: 22px 0 10px 0;
}
.subscription p{
    font-family: 'Playfair Display', serif;
    font-size:18px;
    letter-spacing: 2px;
    color:#fff;
    margin: 0 0 25px 0;
}
.input-div{
    width: 30%;
    height: 50px;    
    margin: 0 auto;
}
.input-div form{
    height: 50px;
    display: flex;
    margin: 0 0 10px 0;
}
form input{
    width: calc(100% - 160px);
    height: 100%;
    padding: 7px 14px 7px 20px;
    border: none;
}
form input::placeholder{
    color: #C4C4C4;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: #fff;
    transition: all 0.1s ease-in;
}
form input:focus::placeholder{
    padding-left: 15px;
}
form button{
    height: 100%;
    width: 160px;
    padding: 1px 6px;
    color: #333;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    background-color: #cc9933;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    transition: all 0.1s linear;
}
form button:hover{
    color: #fff;
}
footer{
    width: 100%;
    min-height: 206px;
    background-color: #0b0d0f;
    padding: 120px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer > div{
    width: 33.3333%;
}
footer .col1{
    display: flex;
}
.col1 p{
    font-size: 12px;
    font-weight: 600;
    line-height: 28px; 
    text-align: right;
    color: #999;   
    width: 60%;
    position: relative;
    margin: 0 0 30px 0;
    padding: 0 15px;
}
.col1 ul{
    width: 40%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.col1 ul li{
    text-align: left;
    padding: 5px 0;
}
.col1 ul li a{
    color: #fff;
}
.online-reservation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.online-reservation button{
    padding: 14px 25px;
    margin: 0 0 35px 0;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #cc9933;
    border: 2px solid #cc9933;
    background-color: transparent;
    transition: all 0.2s ease-in;
}
.online-reservation h4{
    font-size: 12px;
    letter-spacing: 4px;
    color: #999;
}
.online-reservation ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.online-reservation ul li{
    padding: 15px;
}
.contact-detail{
    text-align: left;
    padding: 0 0 0 20px;
}

.contact-detail .number, 
.contact-detail .site{
    color: #cc9933;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 4px;
}
.contact-detail .site{
    color: #fff;
    margin: 20px 0;
}
.contact-detail .address{
    font-size: 11px;
    font-weight: 600;
    line-height: 28px;
    color: #999;
}
@media (max-width : 1200px){
    .shop{
        width: 90px !important;
    }
    .shop .items, .shop .total{
        display: none;
    }
    
}
@media (max-width : 992px){
    header{
        position: absolute;
    }
    nav{
        justify-content: space-between;
    }
    .nav-list{
        display: flex;
        height: 100%;
        width: 100%; 
        position: fixed;
        top: 0;
        left:0;
        bottom: 0;
        right: 0;
        background-color: rgba(0,0,0,0.9);
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        padding: 60px 0 0 0;
        justify-content: flex-start;
        transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0ms;
        transform-style: preserve-3d;
        transform-origin: top;
        transform: translateY(-100%) translateZ(0);
        z-index: 999;
    }
    .nav-change{
        transform: translateY(0) translateZ(0);
    }
    .nav-list .nav-item{
        padding: 10px 0;
    }
    
    .menu{
        display: block;
        transform: rotate(90deg);
        margin-right: 10px;
    }
    .close{
        position: absolute;
        top: 20px;
        right: 20px;
        height: 54px;
        width: 54px;
    }
    .close p{
        width:100%;
        height: 100%;
        position: absolute;
        border-radius: 50%;
        border: 2px solid #fff;
    }
    .close p i{
        position: absolute;
        top: 16px;
        right: 18px;
        color: #fff;
        font-size: 20px;
    }
    .reserve{
        position: relative;
        float: right;
    }
    .reservation{
        display: none;
    }
    .menu1, .specialities{
        flex-wrap: wrap;
    }
    .left-wrapper, .right-wrapper,
    .left-wrapper1, .right-wrapper1{
        width: 100%;
    }
    .left-wrapper{
        padding: 80px 10px;
    }
    .right-wrapper1{
        padding: 0 0 0 20px;
    }
    .menu-para{
        flex-direction: column;
    }
    .menu-para p{
        width: 100%;
    }
    .special-img{
        margin: 110px 0 0 0;
    }
    .bg-img{
        left: 5rem;
    }
    .img li{
        width: 50%;
        height: 324px;
    }
    .img li img{
        width: 100%;
        height: 324px;
        object-fit: cover;
    }
    .img li .over-content{
        width: 100%;
        height: 324px;
    }
    .over-content .contents{
        justify-content: center;
    }
    .about{
        flex-wrap: wrap;
    }
    .left-div{
        width: 100%;
        height: 746px;
    }
    .map{
        width: 100%;
        height: 100%;
    }
    .input-div{
        width: 50%;
    }
    footer{
        height: 946px;
        flex-direction: column;
    }
    footer .col1{
        flex-direction: column;
    }
    footer p{
        text-align: center;
    }
    footer .col1 > *{
        text-align: center;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    footer > div{
        width: 100%;
        padding: 20px 0;
    }
}
@media (max-width : 768px){
    .chef-img{
        display: none;
    }
    .home-content{
        width: 100% !important;
        padding: 10px;
    }
    .specialities{
        padding: 80px 0;
    }
    .left-wrapper1{
        display: none;
    }
    .inner-content{
        padding: 50px 0 0 0;
    }
    .main-row-div{
        flex-wrap: wrap;
    }
    .left-card{
        width: 100%;
    }
    .container{
        width: 100%;
    }
    .img li{
        width: 100%;
        height: 704px;
    }
    .img li img{
        max-width: 100%;
        height: 704px;
    }
    .img li .over-content{
        width: 100%;
        height: 704px;
    }
    .over-content .contents{
        justify-content: center;
    }
    .about .left-div{
        height: 465px;
    }
    .left-div h4{
        width: 80%;
    }
    .subscription{
        padding: 120px 2px;
    }
    .subscription img{
        margin-left: -150px;
    }
    .input-div{
        width: 100%;
    }
}
@media (max-width : 320px){
    header{
        padding: 0;
    }
    nav{
        justify-content: center;
    }
    .img li{
        width: 100%;
        height: 320px;
    }
    .img li img{
        max-width: 100%;
        height: 320px;
    }
    .img li .over-content{
        width: 100%;
        height: 320px;
    }
    .over-content .contents{
        justify-content: flex-end;
    }
    .left-div{
        height: 545px !important;
    }
}